{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% if page.url contains '/de/' %}
            {% assign nav_links = site.data.navigation.de_main %}
          {% else %}
            {% assign nav_links = site.data.navigation.main %}
          {% endif %}
          {% for link in nav_links %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <!-- language switcher -->
          {% if page.url contains '/de/' %}
            {% assign en_url = page.url | remove: '/de' %}
            <li class="masthead__menu-item lang-switcher">
              <a href="{{ base_path }}{{ en_url }}" title="English" class="lang-flag">🇬🇧</a>
              <span title="Deutsch" class="lang-flag lang-flag--active">🇩🇪</span>
            </li>
          {% else %}
            {% assign de_url = '/de' | append: page.url %}
            <li class="masthead__menu-item lang-switcher">
              <span title="English" class="lang-flag lang-flag--active">🇬🇧</span>
              <a href="{{ base_path }}{{ de_url }}" title="Deutsch" class="lang-flag">🇩🇪</a>
            </li>
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>